.modal__call{
    position: absolute;
    z-index: 3;
    min-width: 320px;
    min-height: 100vh;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
}

.modal__call-header{
    min-height: 88px;
    display: flex;
    align-items: center;
}

.modal__call-btn_close{
    background: url('../img/close.svg');
}

.modal__call-input{
    border: 1px solid #eaeaea;
    border-radius: 8px;
    width: 288px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'TTLakes-Medium';
    padding: 12px 18px;
    margin-bottom: 18px;
}

.modal__call-title{
    padding: 0;
    margin-top: 16px;
}

.modal__call-body_form{
    display: flex;
    flex-direction: column;
}

.form__attention{
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    height: 64px;
    color: #7E7E82;
    margin-bottom: 18px;
}

.attention__link{
    color: $button;
}

.form__submit{
    &-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 136px;
        height: 32px;
        background-color: $button;
        border-radius: 16px;
        color: #ffffff;
        padding: 8px 16px;
        align-self: flex-end;
    }
}